@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: white;
  overflow-x: hidden;
  font-family: "Familjen Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Container */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Navbar */


.navbar {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 4em;
  align-items: center;
  /* background: palegreen; */
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 1vh;
}

.inquiry-btn {
  background: linear-gradient(to right, rgba(59, 225, 225, 0.986), rgb(70, 141, 222));
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

@media (min-width: 769px){
  .menu-btn{
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 0 1em;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    right: 0;
    background: white;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-links.active {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background: rgba(131, 187, 244, 0.919);
    z-index: 20;
    border-radius: 2em;
    /* border: 2em solid rgb(71, 116, 122); */
    /* margin: 2em; */
  }

  .menu-btn {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    align-self: flex-end;
    text-decoration: none;
  }
}


/* Hero Section */
.hero {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /* background: chocolate; */
}

/* Circle Background */
.circle {
  width: auto;
  height: auto;
  border-radius: 50%;
  background: linear-gradient(to right, rgba(77, 251, 251, 1), rgba(120, 142, 255, 1));
  /* opacity: 0.5; */
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerCircle {
  width: 30vw;
  height: 30vw;

  /* width: 350px;
  height: 350px; */
  border-radius: 50%;
  background: white;
}

.bottle {
  width: 140px;
  position: absolute;
  top: 60vh;
  z-index: 5;
}

.bottle-cap {
  width: 140px;
  position: absolute;
  top: 1.5%;
  z-index: 5;
  opacity: 1;
}

@media (max-width: 768px){

  .innerCircle {
    width: 75vw;
    height: 75vw;
  }

  .bottle, .bottle-cap{
    display: none;
  }

  .hero {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
}

.heroText{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15;
}

.heroHeading{
  opacity: 0;
  scale: 0;
}

/* Animated Text */
.animated-text {
  width: 70vw;
  text-align: center;
  font-size: 5rem;
}

.heroSmallText{
  width: 70vw;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

.heroTextButton{
  background: linear-gradient(to right, rgba(59, 225, 225, 0.986), rgb(70, 141, 222));
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

@media (max-width: 768px){
  .animated-text {
    font-size: 3rem;
  }
}

.sideBottle2{
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  /* background: #8e44ad; */
  background: linear-gradient(to bottom, rgba(77, 251, 251, 1), rgba(120, 142, 255, 1));
  position: absolute;
  bottom: 82.5%;
  left: 5%;
  transform: rotate(-10deg);
}

.sideBottle2cap{
  position: relative;
  bottom: -31%;
  left: 0;
  height: auto;
  width: 1.5em;
}

.sideBottle2Bottle{
  position: relative;
  bottom: 35%;
  left: 0;
  height: auto;
  width: 1.5em;
}

.sideBottle3{
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  /* background: #8e44ad; */
  background: linear-gradient(to bottom, rgba(77, 251, 251, 1), rgba(120, 142, 255, 1));
  position: absolute;
  bottom: 82.5%;
  right: 5%;
  transform: rotate(10deg);
}

.sideBottle3cap{
  position: relative;
  bottom: -35%;
  left: 0;
  height: auto;
  width: 1.5em;
}

.sideBottle3Bottle{
  position: relative;
  bottom: 35%;
  left: 0;
  height: auto;
  width: 1.5em;
}

@media (max-width : 768px){
  .sideBottle2{
    bottom: 85%;
  }
  .sideBottle3{
    bottom: 85%;
  }
}

.section2 {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.sec2left {
  width: 50vw;
  height: 100vh;
  /* background: #d37e57; */
  background-image: url(/sec2leftImg.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sec2right {
  width: 50vw;
  height: 100vh;
  background: #20292c;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.sec2rightin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20;
  padding: 2vw 2vw 2vw 7vw;

}

.colContainer {
  height: 75px;
  width: 75px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colImage {
  height: 60px;
  width: 60px;
  padding-bottom: 3px;
}

.sec2text {
  font-size: 2.5em;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media (max-width: 768px){

  .section2 {
    /* padding: 2em; */
    flex-direction: column;
  }

  .sec2left {
    width: 100vw;
    height: 200vh;
  }

  .sec2right {
    width: auto;
    height: 180vh;
  }

  .sec2text {
    font-size: 2em;
  }
}

.section3 {
  height: auto;
  width: 100vw;
  background-color: white;
  padding: 5%;
}

.sec3Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec3boldtext {
  font-family: Familjen Grotesk;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.sec3text {
  font-family: Familjen Grotesk;
  font-size: 24px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.sec3NavButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 8em;
  height: 2em;
  color: white;
  font-family: Familjen Grotesk;
  /* font-family: "Familjen Grotesk", serif; */
  font-size: 20px;
  font-weight: 600;
  line-height: 65px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: linear-gradient(90deg, #00D1FF 0%, #1A83FF 100%);
}

.sec3img1 {
  height: 27vw;
  width: 27vw;
  background-image: url(/1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.sec3img2 {
  height: 27vw;
  width: 27vw;
  background-image: url(/2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.sec3img3 {
  height: 27vw;
  width: 27vw;
  background-image: url(/3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.sec3img4 {
  height: 27vw;
  width: 27vw;
  background-image: url(/4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.sec3img5 {
  height: 27vw;
  width: 27vw;
  background-image: url(/1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.sec3img6 {
  height: 27vw;
  width: 27vw;
  background-image: url(/2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

@media (max-width: 768px){

  .sec3img1 {
    height: 37vw;
    width: 37vw;
  }

  .sec3img2 {
    height: 37vw;
    width: 37vw;
  }

  .sec3img3 {
    height: 37vw;
    width: 37vw;
  }

  .sec3img4 {
    height: 37vw;
    width: 37vw;
  }

  .sec3img5 {
    height: 37vw;
    width: 37vw;
  }

  .sec3img6 {
    height: 37vw;
    width: 37vw;
  }

  .sec3NavButton {
    display: none;
  }
}

.imgCardText {
  font-family: Familjen Grotesk;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  /* width: 400px; */
  height: 40px;
}

.imgCardBut {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #00D1FF 0%, #1A83FF 100%);
  width: 8em;
  height: 2em;
  border-radius: 30px;
  color: white;
}

.bottleCard {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 12;
  padding: 1em;
}

.bottleList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5;
}

@media (max-width: 768px){
  .bottleCard {
    align-items: center;
    padding: 1em;
  }
}

.section4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 82vh;
  width: 100vw;
  background-image: url(/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border-radius: 20px; */
  gap: 6
}

.sec4text1 {
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: auto;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 1.2px;
  text-align: center;
}

.sec4text2 {
  width: 45vw;
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 36px;
  font-weight: 400;
  line-height: 46.8px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footer {
  width: 100vw;
  height: auto;
  background: rgba(32, 31, 31, 1);
}

.foot {
  width: 100vw;
  height: 33vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
}

.footerIcon{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 40;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #626161;
  padding: 0.8em;
  width: 100vw;
  height: auto;
  background: rgba(50, 50, 50, 1);
}

.footerLogo {
  height: 3.5em;
  width: 15em;
  background-image: url(/logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* margin-left: 40px;
  margin-top: 40px; */
}

.socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20;
  /* padding: 2em 0; */

}

.socialMedia2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  width: 1.5em;
  background: #535353;
  padding: 1em;
  border-radius: 50%;
}

.socialMediaLogo {
  height: 1.2em;
  width: 1.2em;
  filter: brightness(0) invert(1);
}

.linksfooter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* text-decoration: none; */
  list-style-type: none;
  /* gap: 50; */
  color: white;
  padding: 2.3em;
}

.linksfooter li {
  padding: 0 1.6em;
}

.footerNavLinks {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  /* gap: 45; */
}

@media (max-width: 768px){
  .footerNavLinks {
    display: none;
  }
}